<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">

            <!--商品管理-->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-share"></i> <span>商品管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href=""><i class="fa fa-circle-o"></i>商品列表</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i>商品分类</a></li>
                </ul>
            </li>

            <!--订单管理-->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-share"></i> <span>订单管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i>待发货</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i>待收货</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i>待付款</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i>已完成</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i>已取消</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i>全部订单</a></li>
                </ul>
            </li>

            <!--用户管理-->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-share"></i> <span>用户管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i>用户列表</a></li>
                </ul>
            </li>

            <!--系统设置-->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-share"></i> <span>系统设置</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i>管理员管理</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i>角色管理</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i>权限管理</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i>商城设置</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i>小程序支付设置</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i>交易设置</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i>配送设置</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i>短信通知</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i>上传设置</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i>操作日志</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i>清理缓存</a></li>
                </ul>
            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>